/* .messenger {
    height:calc(100vh- 70px);
    display: flex;
}
.chatMenu {
    flex: 3.5;
}
.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid grey;
}
.chatBox {
    flex: 5.5;
}
.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
}
.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}
.chatSubmitButton {
    width: 70px;
    height: 40px; 
    cursor: pointer;
    background-color:#1877f2;
    border-radius: 5px;
    color: white;
}
.chatOnline {
    flex: 3;
}
.chatMenuWrapper, .chatBoxWrapper,.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
} */

.messenger {
    height: calc(100vh - 70px);
    display: flex;
  }
  
  .chatMenu {
    flex: 1.5;
    /* background: #e8ecee; */ /* fallback for old browsers */

    }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    
  }
 .inputfield{
  margin-bottom: 7px;
  padding: 7px;
  width: 90%;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 5px -3px #000;
}


 
  .chatBox {
    flex: 5.5;
    background-image: url("https://cdn.wallpapersafari.com/54/0/HluF7g.jpg");
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;

  }
  .chatBoxTop {
    /* overflow-y: scroll; */
    scrollbar-width: 10px; /* Firefox */
    -ms-overflow-style: 10px;  /* Internet Explorer 10+ */
}
.chatBoxTop::-webkit-scrollbar { /* WebKit */
    width: 10px;
    height: 10px;
}
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
    
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1877f2;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }